.container {
    margin: auto;
    width: 50%;
    text-align: center;
}

.containers {
    margin: auto;
    width: 50%;
    text-align: center;
}

img {
    width: 10%
}

div {
    margin: 10px;
}